<html>
<title>
    Home - Twitter
</title>
<body>
    <a href="/">Home</a>
    <a href="{% url 'logout' %}">Logout</a>
    <h2>Logged in as {{request.user.screen_name}}</h2>
    <h4>Search for People's Tweet</h4>
    <form type="get" action="." style="margin: 0">
        <input  id="search_box" type="text" name="q"  placeholder="Search..." >
        <button id="search_submit" type="submit" >Submit</button>
    </form>

    <h3>Post Your Own Tweet</h3>
    <form method="post" action="{% url 'tweet_api' %}">
        {% csrf_token %}
        {{tweet_form.text}}
        <button type="submit">Tweet</button>
    </form>
    <h3>Tweets of People you follow</h3>
    {% for tweet in tweets %}
    <br/>
    <div>
        <div>
            <span>Name: {{tweet.user.screen_name}}</span>
            {% if tweet.is_follower or tweet.user.pk == request.user.id %}
            {% else %}
            <span>
                <button class="follow_button" id="{{tweet.pk}}_{{tweet.user.pk}}" onClick="follow(this.id)">
                    Follow
                </button>
            </span>
            {% endif %}
        </div>
        <div>
            <b>Tweet text:</b>
            <div>{{tweet.text}}</div>
        </div>
        <div>
            Tweeted on: {{tweet.created_on}}
        </div>
    </div>
    <div>-----------------------------</div>
    {% endfor %}
</body>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script>
    var CSRF_MIDDLEWARE_TOKEN= "{{ csrf_token }}";
    function follow(button_id){
        user_id = button_id.split('_')[1];
        $.post('/follow/' + user_id + '/', {'csrfmiddlewaretoken': CSRF_MIDDLEWARE_TOKEN}, function(){
            alert('Followed');
            location.reload();
        });
    };
</script>

</html>