<html>
<head>
    <title>Login</title>
</head>
<body>
{% block content %}
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>
  <div><span>Not an Existing User?</span> <a href="{% url 'signup' %}">Signup</a></div>
{% endblock %}
</body>
</html>